@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  transition: 0.3s;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3498db;
}
.center-div {
  width: 500px;
  height: auto;
  background: #fff;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
h1 {
  margin-bottom: 20px;
}
#output {
  width: 100%;
}
input {
  height: 50px;
  width: 70%;
  padding-left: 20px;
  border: 1px solid #3498db;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1.2em;
}
input:focus {
  border: 2px solid #3498db;
  outline: none;
}
input:focus select {
  border: 2px solid #3498db;
}
.output-val {
  width: 100%;
  min-height: 50px;
  margin: 20px 0;
  padding-left: 20px;
  color: #fff;
  font-size: 1.2em;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  line-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-wrap: wrap;
}
.output-val:nth-child(1) {
  background: #f39c12;
}
.output-val:nth-child(2) {
  background: #e74c3c;
}
.output-val:nth-child(3) {
  background: #9b59b6;
}
.output-val:nth-child(3) {
  background: #2980b9;
}
.output-val:nth-child(4) {
  background: #10ac84;
}
.output-val:nth-child(5) {
  background: #5f27cd;
}
.output-val:nth-child(6) {
  background: #5f2796;
  /* margin-bottom: 0; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.getinput {
  width: 100%;
  display: flex;
}
.getinput select {
  width: 30%;
  background: #3498db;
  outline: none;
  border: 1px solid #3498db;
  font-size: 1em;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
  .center-div {
    width: auto;
    margin: 0 20px;
    padding: 30px;
  }
  .output-val {
    font-size: 1em;
  }
}
